<p id="notice"><%= notice %></p>

<h1>Customer Quotes</h1>

<table>
  <thead>
    <tr>
      <th>Customer</th>
      <th>Employee</th>
      <th>Vehicle</th>
      <th>Final price</th>
      <th>Status</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quotes.each do |quote| %>
      <tr>
        <td><%= quote.customer.cust_name %></td>
        <td><%= quote.employee.emp_name %></td>
        <td><%= quote.vehicle_id %></td>
        <td><%= quote.final_price %></td>
        <td><%= quote.status %></td>
        <td><%= quote.date %></td>
        <td><%= link_to 'Show', quote %></td>
        <td><%= link_to 'Edit', edit_quote_path(quote) %></td>
        <td><%= link_to 'Destroy', quote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quote', new_quote_path %>
