<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @quote.customer.cust_name %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @quote.employee.emp_name %>
</p>

<p>
  <strong>Vehicle:</strong>
  <%= @quote.vehicle_id %>
</p>

<p>
  <strong>Final price:</strong>
  <%= @quote.final_price %>
</p>

<p>
  <strong>Status:</strong>
  <%= @quote.status %>
</p>

<p>
  <strong>Date:</strong>
  <%= @quote.date %>
</p>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
