<p id="notice"><%= notice %></p>

<p>
  <strong>Make:</strong>
  <%= @inventory.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @inventory.model %>
</p>

<p>
  <strong>Year:</strong>
  <%= @inventory.year %>
</p>

<p>
  <strong>Color:</strong>
  <%= @inventory.color %>
</p>

<p>
  <strong>Transmission:</strong>
  <%= @inventory.transmission %>
</p>

<p>
  <strong>Wholesale price:</strong>
  <%= @inventory.wholesale_price %>
</p>

<p>
  <strong>Markup price:</strong>
  <%= @inventory.markup_price %>
</p>

<p>
  <strong>Sell Price with Tax:</strong>
  <%= @inventory.tax_price %>
</p>

<%#<p>
  <strong>Status:</strong>
  <%= @inventory.status %>
<%#</p>%>

<p>
  <strong>Vin number:</strong>
  <%= @inventory.vin_number %>
</p>

<%= link_to 'Edit', edit_inventory_path(@inventory) %> |
<%= link_to 'Back', inventories_path %>
