<p id="notice"><%= notice %></p>

<p>
  <strong>Emp fname:</strong>
  <%= @employee.emp_fname %>
</p>

<p>
  <strong>Emp lname:</strong>
  <%= @employee.emp_lname %>
</p>

<p>
  <strong>Emp phone:</strong>
  <%= @employee.emp_phone %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
