<%= form_for(@customer) do |f| %>
    <% if @customer.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

          <ul>
            <% @customer.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :First_Name %><br>
      <%= f.text_field :cust_fname %>
    </div>
    <div class="field">
      <%= f.label :Last_Name %><br>
      <%= f.text_field :cust_lname %>
    </div>
    <div class="field">
      <%= f.label :Phone_Number %><br>
      <%= f.text_field :cust_phone %>
    </div>
    <div class="field">
      <%= f.label :Email_Address %><br>
      <%= f.text_field :cust_email %>
    </div>
    <div class="field">
      <%= f.label :Street_Address %><br>
      <%= f.text_field :cust_address %>
    </div>
    <div class="field">
      <%= f.label :City %><br>
      <%= f.text_field :cust_city %>
    </div>
    <div class="field">
      <%= f.label :State %><br>
      <%= f.select :cust_state, [['AK', 'AK'], ['AL', 'AL'], ['AR', 'AR'], ['AZ', 'AZ'], ['CA', 'CA'], ['CO', 'CO'], ['CT', 'CT'], ['DC', 'DC'], ['DE', 'DE'], ['FL', 'FL'], ['GA', 'GA'], ['HI', 'HI'], ['IA', 'IA'], ['ID', 'ID'], ['IL', 'IL'], ['IN', 'IN'], ['KS', 'KS'], ['KY', 'KY'], ['LA', 'LA'], ['MA', 'MA'], ['MD', 'MD'], ['ME', 'ME'], ['MI', 'MI'], ['MN', 'MN'], ['MO', 'MO'], ['MS', 'MS'], ['MT', 'MT'], ['NC', 'NC'], ['ND', 'ND'], ['NE', 'NE'], ['NH', 'NH'], ['NJ', 'NJ'], ['NM', 'NM'], ['NV', 'NV'], ['NY', 'NY'], ['OH', 'OH'], ['OK', 'OK'], ['OR', 'OR'], ['PA', 'PA'], ['RI', 'RI'], ['SC', 'SC'], ['SD', 'SD'], ['TN', 'TN'], ['TX', 'TX'], ['UT', 'UT'], ['VA', 'VA'], ['VT', 'VT'], ['WA', 'WA'], ['WI', 'WI'], ['WV', 'WV'], ['WY', 'WY']] %>
    </div>
    <div class="field">
      <%= f.label :Zip_Code %><br>
      <%= f.text_field :cust_zip %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
