<!DOCTYPE html>
<html>
<head>
  <title>Misters Motors </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="heading">
  <h1>
    Misters Motors
  </h1>
  <%= link_to 'Inventory', inventories_path %>
  <%= link_to "Customers", customers_path %>
  <%= link_to "Employees", employees_path %>
  <%= link_to "Quotes", quotes_path %>
</div>
<%= yield %>

</body>
</html>
